<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<!--Begin Header-->
  <header>
    <div class="container">
      <h1 class="logo">Ye Pirate Blog</h1>
      <strong><nav>
        <ul class="menu">
          <li><a>Home</a></li>
          <li><a>About</a></li>
        </ul>
      </nav></strong>
    </div>
  </header>
<!--End Header-->
<div class="container post">
    <h1>Who we are</h1>
    <img src ='' alt="img one">
    <img src ='' alt="img two">
    <img src ='' alt="img three">
    <img src ='' alt="img four">
</div>
<div class="container post">
    <h1>About the pirate ranks</h1>
    <table>
        
    </table>
</div>

<div class="container post">
    <h1>Join the crew!</h1>
</div>
<!--Begin Footer-->
<footer class="footer">
    <p>Links</p>
    <a href="https://en.wikipedia.org/wiki/Piracy">Learn more</a> |
    <a href="https://www.amazon.com/s?k=pirate+swag&ref=nb_sb_noss_1">Pirate swag</a> |
    <a href="https://www.parrots.org/pdfs/all_about_parrots/reference_library/beginners_guide_to_parrots/Beginners%20Guide%20to%20Parrot%20Keeping.pdf">Parrot care</a>
</footer>
<!--End Footer-->
</body>
</html>