{% extends "base.html" %}
{% block head %}
<title>A Page made with Python Flask</title>
{% endblock %}
<!-- Begin body -->
{% block body %}
<!-- Begin post divs -->
{% for post in posts %}
<div class="container post" >
    <h1 style="color:{{post.color}}">{{post.title}}</h1>
    <h2>Author: {{post.author}}</h2>
    <p>{{post.post}}</p>
    <br>
</div>
{% endfor %}
<!-- End post divs -->
<!--Begin add post -->
<div class="container post">
    <h1>Make a post!</h1>
    <form action="/makepost" method="post">
        <label for="PostTitle">Post Title:</label><br>
        <input type="text" id="PostTitle" name="PostTitle"><br>
        <label for="UserName">User Name:</label><br>
        <input type="text" id="UserName" name="UserName"><br>
        <label for="PostBody">Post:</label><br>
        <textarea id="PostBody" name="PostBody" rows="4" cols="50"></textarea><br>
        <label for="Color">Choose a title color:</label>
        <select id="Color" name="Color">
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="cyan">Cyan</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
            <option value="green">Green</option>
        </select>
        <input type="submit" value="Make Post">
        <input type="reset" value="Reset">
    </form>
    <br>
</div>

<!--End add post -->
<!-- Begin leader board -->
<div class="container" >
    <h1 class="leaders">This Week's Mighty Pirate Posters!</h1>
    <ol>
        {% for pirate in leader_board%}
        <li>{{pirate}}</li>
        {% endfor %}
    </ol>
<br>
</div>
{% endblock %}
